/* h2{
    /* color: blue;
}
p{
    color: black;
} */ 
#container{
    height: 200px;
    width: 500px;
    background-color: brown;
    border: 3px solid;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    height: 150px;
    width:150px;
    background-color: antiquewhite;
    margin: 5px;
    border:3px solid ;
    float: left;
} 
#box1{
            height: 50px;
    width: 50px;
    background-color:orange;
    border: 3px solid;

}
#box2{
    height: 50px;
    width: 50px;
    background-color:white;
    border: 3px solid;
}
#box3{
    height: 50px;
    width: 50px;
    background-color: green;
    border: 3px solid;
}
#box4{
    height: 50px;
    width: 50px;
    background-color: gray;
    border: 3px solid;
}
#box1{
            height: 50px;
    width: 50px;
    background-color:orange;
    border: 3px solid;

}
#box2{
    height: 50px;
    width: 50px;
    background-color:white;
    border: 3px solid;
}
#box3{
    height: 50px;
    width: 50px;
    background-color: green;
    border: 3px solid;
}
#box4{
    height: 50px;
    width: 50px;
    background-color: gray;
    border: 3px solid;
}